body{
	background-image: url('bg.png');

}
main{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height:100%;

}
.Main_Page{
	border:1px solid gray;
	border-radius: 10px;
	text-align: center;
	width:27%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signin,.newtokazzam{
	padding-top:30px;
	padding-bottom:5px;
	height:30px;
	background-color: white;
	text-align: center;
	border:1px solid white;
	border-radius:10px 10px 0px 0px;
	color:#404b59;
	font-size:20px;
}
#log,#crt{
	background-color: gray;
	border:1px solid gray;
	border-radius: 5px;
}
.switch{
	background-color: lightgray;
	display: flex;
	align-items: stretch;
	border:1px solid lightgray;
	border-radius:0px 0px 10px 10px;
	text-align: center;
}
#create{
	margin:20px auto;
	font-size:12px;
}
form{
	padding-top:8%;
	display: flex;
	flex-direction: column;
	align-items: space-around;

}
#createaccount{
 text-decoration: none;
 color:black;
}
.newtokazzam{
	padding-top:30px;
	height:40px;
	background-color: white;
	text-align: center;
	border:1px solid white;
	border-radius:10px 10px 0px 0px;
}
#forgot{
	font-size:10px;
}
form>div{
	margin:3px;
}
.error{
	display:none;
}
#log,#crt{
	width: 50%;
	height:4%;
	color:white;
	font-size:15px;
}
#firstname,#lastname,#email,#password,#confirmpassword{
	padding-left:5px;
	width:70%;
	height:4%;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:15px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #404b59;
}
#agree{
	width:3%;
	

}
.agreeClass{
	font-size:12px;

}
.newtokazzam>span{
	font-size:15px;
}
.box div {
	position: relative;
	margin:10px;
}
.box div label{
	position:absolute;
	top:10px;
	left:18%;
	color:gray;
	font-size:15px;
	transition: 0.5s;
	pointer-events: none;
}
.box input:focus ~ label,.box input:valid ~ label{
	top:4px;
	font-size: 9px;
}
